.weatherWrapp {
    max-width: 800px;
    margin: 30px auto;
  }
  .weatherApp {
   border: 1px solid #dadded;
   padding: 10px;
  }
body {
    font-family: arial,sans-serif;
    clear: both;
    margin-left: 0;
    padding-top: 20px;
    
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}
.container {
    border: 10px;
    border-color: gray;
}
h1{
   margin-bottom: 0;
    font-size:24px ;
    font-family: arial,sans-serif;
    color: grey;

}
#description {
    margin:auto;
   
}
small {
    margin-top: 20px;
    padding-top: 40px;
}
li {
    list-style: none;
    color: grey;
}
ul {
    margin: 0;
    padding: 0;
}
.row strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;

  line-height: 1;
  position: relative
}
.row img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  position: relative;
  bottom: 20px;

}
.col-6 img {
    display: inline-block;
 
    
}
#items {
      position: relative;
  font-size: 16px;
  top: -34px;
}
#location {
    margin-bottom: 20px;
    text-transform: capitalize;
}
#celsium {
    text-decoration: none;
    font-size: 16px;
}
#fahrenheit {
    text-decoration: none;
    font-size: 16px;
}
#signature {
    font-size: 10px;
}
